/*******************************/
/* HEADER */
/*******************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;

  /* Because we want header to be sticky later */
  height: 8rem;
  padding: 0 4.8rem;
  position: relative;
  border-bottom: solid 1px #d2d2d2;
}

.logo {
  height: 3.2rem;
}

/*******************************/
/* NAVIGATION  */
/*******************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #3f3f48;
  font-weight: 300;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #5600b0;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 0.8rem 3.6rem;
  border-radius: 20px;
  color: #fff;
  background-color: #f25a29;
}

.main-nav-link.cta-login:link,
.main-nav-link.cta-login:visited {
  border: solid 0.1px #a8a8b4;
  color: #a8a8b4;
  background-color: rgba(255, 255, 255, 0);
  padding: 0.8rem 3.6rem;
  border-radius: 20px;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #5600b0;
}

/* MOBILE */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;

  background-color: rgba(255, 255, 255, 0.097);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/*******************************/
/* HERO SECTION */
/*******************************/

.section-hero {
  margin-top: 7rem;
  height: 70rem;
  background-image: linear-gradient(
      rgba(41, 21, 10, 0.25),
      rgba(41, 21, 10, 0.25)
    ),
    url(../img/hero-section.png);
  background-size: cover;
  border-radius: 0.7rem;

  text-align: center;
  color: #fff;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.text-box {
  display: flex;
  height: 100%;
  display: grid;
  padding-top: 20rem;
}

.coached-text span {
  color: #5600b0;
  font-weight: 700;
}

.btn-hero {
  padding: 1.8rem 2.4rem;
  background-color: #f25a29;
  border-radius: 5rem;
  color: #fff;
  text-decoration: none;
}

.btn-hero--buy {
  background-color: #fff;
  color: #f25a29;
  position: relative;
}

.hero-heading {
  font-size: 6.4rem;
  line-height: 7.4rem;
  margin-bottom: 3.2rem;
  font-weight: 300;
}

.hero-heading-v2 {
  font-size: 6.4rem;
  margin-top: -14rem;
}

.hero-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40rem;
  font-size: 2rem;
}

.btn-hero--rent {
  position: absolute;
}

.button-box {
  width: 230px;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;
  background: #fff;
  border: solid 1px #f25a29;
}

.toggle-btn {
  padding: 10px 40px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

#btn {
  left: 0;
  top: 0;
  position: absolute;
  width: 115px;
  height: 100%;
  background: #f25a29;
  border-radius: 30px;
  transition: 0.5s;
}

.filter {
  width: 88.5rem;
  height: 7.3rem;
  margin: auto;
  position: relative;
  border-radius: 30px;
  background: #efefef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3f3f48;
  padding: 1.6rem;
  font-weight: 700;
  font-size: 1.8rem;
}

.form-box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-left: 1px solid #3f3f48;
  padding-left: 2.8rem;
}

.form-box-first {
  border-left: none;
}

#btn-buy {
  color: #fff;
  font-weight: 500;
}

#btn-rent {
  color: #f25a29;
  font-weight: 500;
}

select {
  appearance: none;
  background-color: #efefef;
  border: none;
  margin-top: 0.6rem;
  color: #a8a8b4;
}

.circle {
  width: 4.8rem;
  background-color: #f25a29;
}

.form-box-img {
  width: 48px;
  height: 48px;
}

/*******************************/
/* EXPRIENCE SECTION */
/*******************************/

.section-experience {
  padding: 9.6rem 0;
}

.experience-box {
  border: 2px solid #b3b3be;
  border-radius: 2.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.4rem;
  color: #3f3f48;
}

.experience-features {
  font-size: 1.6rem;
  text-decoration: underline;
  color: #f25a29;
}

/*******************************/
/* EXPLORE SECTION */
/*******************************/

.section-explore {
}

.explore-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.subheading {
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: underline;
  color: #f25a29;
}

.places-container {
  margin-top: 6rem;
}

.box-places {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 1.1rem;
  overflow: hidden;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
}

.place-content {
  padding: 5rem 4.8rem;
  background-color: #f25a29;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 3.6rem;
}

.place-description {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.4rem;
}

.place-name {
  font-size: 2.4rem;
  color: #ffd0e4;
  font-weight: 600;
  margin-top: 1rem;
}

.place-img,
.news-img {
  width: 100%;
}

.places img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-place {
  font-size: 1.8rem;
  font-weight: 500;
  background-color: #fff;
  color: #f25a29;
  padding: 0.5rem 2rem;
  border-radius: 20px;
}

/*******************************/
/* CTA SECTION */
/*******************************/

.section-cta {
  padding: 9.6rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid #a8a8b4;
  border-radius: 2.6rem;
}

.cta-heading {
  font-size: 5rem;
  font-weight: 400;
  text-align: right;
}

.cta-text-box {
  padding: 3.6rem 8.6rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  row-gap: 2.6rem;
  color: #3f3f48;
}

.cta-img-box {
  background-image: url(../img/find-your-home.png);
  background-size: cover;
  background-position: center;
}

.btn-cta {
  font-size: 1.8rem;
  padding: 0.5rem 2.6rem;
  font-weight: 300;
  border-radius: 2rem;
  background-color: #f25a29;
  color: #fff;
}

.cta-text {
  font-size: 2.1rem;
  text-align: right;
  line-height: 2.5rem;
}

.invisible {
  color: #f25a29;
}

/*******************************/
/* NEWS  SECTION */
/*******************************/

.section-latest-properties {
  padding: 9.6rem 0;
}

.news-container {
  margin-top: 4rem;
}

.text-box-properties {
  display: flex;

  justify-content: flex-end;
  align-items: center;
}

.heading-properties {
  padding-right: 50rem;
}

.subheading-properties {
  font-size: 2rem;
  text-decoration: none;
}

.flex-properties {
  display: flex;
  justify-content: flex-end;
}

.box-news {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 2.1rem;
  overflow: hidden;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
}

.news-content {
  padding: 5rem 4.8rem;
  background-color: #ffd0e4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 3.6rem;
}

.news-date {
  font-size: 1.6rem;
  color: #f25a29;
  font-weight: 600;
}

.news-title {
  font-size: 3.8rem;
  color: #3f3f48;
  font-weight: 700;
}

.news-description {
  font-size: 2rem;
  font-weight: 400;
  color: #3f3f48;
}

/*******************************/
/* FOOTER */
/*******************************/

.footer {
  margin-top: 20rem;
  background-color: #f25a29;
  padding: 5.2rem 6rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffd0e4;
  margin-bottom: 4rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 200;
  list-style: none;
}

.footer li a {
  color: #fff;
}

.copyright-box {
  display: flex;
  font-size: 1.2rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 3rem;
  gap: 3.8rem;
  color: #fff;
  font-weight: 100;
  margin-top: 4.8rem;
}

.form-col {
  grid-column: 3 / span 2;
}

.cta-subscribe {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.8rem 2.6rem;
  border-radius: 2rem;
  border: none;
  text-decoration: none;
  background-color: #ffa4ca;
  color: #fff;
}

.email-box-form {
  border-radius: 1.4rem;
  padding: 1rem 10rem 0 2rem;
  font-size: 1.6rem;
  outline: none;
  border: 1.6px solid #a8a8b4;
  color: #a8a8b4;
}

.flex-form {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.social-media-text {
  font-size: 1.6rem;
  color: #ffd0e4;
  font-weight: 600;
}

.social-media-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
